<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">TRANSACTIONS</a>
  <i class="fa fa-search" aria-hidden="true"></i>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Account Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Marchant Finder</a>
      </li>
      <div class="btn btn-outline-success" style="--bs-bg-opacity: .5;">
        <%= button_to "Logout", destroy_user_session_path, method: :delete , class: "btn btn-primary" %>
      </div>
    </ul>
  </div>
</nav>