<div id="<%= dom_id category_payment %>">
  <p>
    <strong>Category:</strong>
    <%= category_payment.category_id %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= category_payment.payment_id %>
  </p>

</div>
