<section class="d-flex flex-column justify-content-center align-items-center">
  <h1 class='fw-bold'>Personal Transactions</h1>
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="d-grid gap-3 col-2 mx-auto">
    <button class="btn btn-outline-primary" type="button">
      <%= link_to "Log in", new_user_session_path, data: {turbo: false} %>
    </button>
    <button class="btn btn-outline-success" type="button">
      <%= link_to "Register", new_user_registration_path, data: {turbo: false} %>
    </button>
  </div>
</section>
